@import "tailwindcss";

.number-size {
    font-size: 90px;
}

.show-display {
    display: flex;
}

ul {
    margin: auto;
}

@media (max-width: 1220px) {
    .number-size {
        font-size: 75px;
    }
}


@media (max-width: 1003px) {
    .number-size {
        font-size: 65px;
    }
}

@media (max-width: 953px) {
    .show-display {
        flex-direction: column;
        justify-content: flex-start;
    }

    .number-size {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .resp {
        padding-top: 150px;
    }
}