@import "tailwindcss";

.poppins {
    font-family: "Poppins";
}

.cinzel {
    font-family: "Cinzel";
}

.services-section {
    background-color: white;
    padding: 70px 0px;
    /* position: relative;
    z-index: 20; */
    margin-top: -5px;
}

.services h2 {
    font-family: "Bricolage Grotesque";
    font-size: 46px;
    color: #051046;
    font-weight: bold;
    margin: 0px;
    text-align: center;
}

.services-para {
    font-family: "Bricolage Grotesque";
    font-size: 20px;
    color: #737780;
    font-weight: 500;
    text-align: center;
    margin-bottom: 100px;
    padding: 0px 20px;
}

.service-list {
    display: flex;
    width: 85%;
    margin: auto;
    cursor: pointer;
    gap: 10px;
}

.service-name:hover {
    box-shadow: 8px 21px 37px -1px rgba(0, 0, 0, 0.10);
    transition: 0.2s all ease-in-out;
}

#a4 {
    margin-bottom: 0px;
}

.service-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    background-color: #D3E0DA;
    padding: 15px;
    box-shadow: 2px 10px 42px 0px rgba(0, 0, 0, 0.07);
    border-radius: 16px;
}


.left-container {
    display: flex;
    align-items: center;
}

.left-container img {
    height: 50px;
    margin-right: 30px;
}

.left-container p {
    font-size: 18px;
    color: #246545;
    font-weight: 700;
}

.icon {
    background-color: #ffffff;
    box-shadow: 1px 1px 7px -1px rgba(0, 0, 0, 0.15);
    height: 30px;
    width: 30px;
    border-radius: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.icon i {
    color: #246545;
    position: relative;
    top: 7%;
}

.service-main {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.service-detail {
    width: 50%;
    background-color: #D3E0DA;
    border-radius: 10px;
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-detail h1 {
    font-family: "Bricolage Grotesque";
    color: #051046;
    font-size: 29px;
    font-weight: bold;
    margin-top: 5px;
}

.service-detail p {
    font-size: 16px;
    font-family: "Bricolage Grotesque";
    color: #737780;
    font-weight: 400;
}

.service-detail img {

    margin: auto;
    text-align: center;
    display: block;
}

.swiper-pagination-bullet {
    background-color: #ccc;
    /* Default bullet color */
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #000;
    /* Active bullet color */
}

.swiper {
    height: 100%;
}

.swiper-slide {
    display: flex !important;
    align-items: center !important;
    margin-right: 0px !important;
}

.swiper-wrapper {
    gap: 10px !important;
}

.swiper-button-next,
.swiper-button-prev {
    color: #246545 !important;
    font-weight: 700 !important;
}

.swiper-pagination-bullet-active {
    background-color: #246545 !important;
}

.shadow {
    box-shadow: 8px 8px 24px 0 rgba(0, 0, 0, 0.25);
}

.glassyBG {
    backdrop-filter: blur(10px) saturate(200%);
    -webkit-backdrop-filter: blur(10px) saturate(200%);
    background-color: rgba(216, 216, 216, 0.49);
    border-radius: 12px;
    border-radius: 20px 20px 20px 0px;
}

@media screen and (max-width: 1024px) {
    .service-list {
        width: 96%;
        gap: 30px;
    }
}

@media screen and (max-width: 970px) {
    .service-main {
        width: 100%;
        gap: 0px;
    }

    .service-detail {
        width: 95%;
        padding: 20px 20px;
        height: auto;
        margin-bottom: 20px;
        overflow: hidden;
    }

    .icon-for-mob {
        transition: transform 0.3s ease;
        /* Smooth rotation animation */
        transform: rotate(90deg);
    }

    .icon-for-mob.rotate {
        transform: rotate(270deg);
        /* Rotate to 90 degrees for a down arrow */
    }

    #a4 {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 736px) {
    .service-detail {
        width: 94%;
    }

    .services-para {
        margin-bottom: 50px;
    }

}

@media screen and (max-width: 620px) {
    .service-detail {
        width: 93%;
    }

}

@media screen and (max-width: 525px) {
    .service-detail img {
        width: 100%;
    }

    .service-detail {
        width: 92%;
    }


}

@media screen and (max-width: 500px) {
    .service-detail {
        width: 91%;
    }
}

@media screen and (max-width: 420px) {
    .left-container p {
        font-family: "Inter";
        font-size: 16px;
        color: #3D424D;
    }
}